@model KPMTestEMS.Models.OrderViewModel

@{
    ViewBag.Title = "Order";
}
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/DatePickerReady.js"></script>*@

<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                showOn: "both"
            }
        );

    });
</script>
<style type="text/css">
    .ui-datepicker {
        font-size: 8pt !important;
    }
</style>

<div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="page-header">
        <h2>Create order</h2>
    </div>

    @if (ViewBag.Message != null)
    {
        <span class="text-success">@ViewBag.Message</span>
    }
    <p>Choose properties and width</p>
    <!-- ProductionViewModel holds propertes for AvaiableBrands, AvaiableWeights
        and AvaiableWidths, those properties are
        filled from ClientOrderController get method "Create"
        and its helper methods GetBrands(), GetWeigths() and GetWidths()
        For returning form data, ProductionViewModel have Selected{prop}Id properties
        wich will be send to post method "CreateOrder" in ClientOrderController -->
    <div class="well">
        @using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post, new { @class = "form-horizontal" }))

        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <!-- Radiobutton group for choosing between avaiable brands -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="select_brand">Select Brand:</label>
                <div class="col-sm-4">
                    @foreach (var item in Model.AvaiableBrands)
                    {
                        <div>@Html.RadioButtonFor(s => s.SelectedBrandId, item.Value, new { @class = "radio-inline", name = "select_brand" })@item.Text</div>
                    }
                </div>
            </div>
            <!-- Dropdown list group for choosing between avaiable weights -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="select_weight">Select Width:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.SelectedWeightId, Model.AvaiableWeights, new { @class = "form-control", name = "select_weight" })
                </div>
            </div>
            <!-- Listbox group for choosing between avaiable widths -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="select_weight">Select Weight:</label>
                <div class="col-sm-4">
                    @Html.ListBoxFor(m => m.SelectedWidthId, Model.AvaiableWidths, new { @class = "form-control", name = "select_weight" })
                </div>
            </div>
            <!-- Datepicker // TODO: change formats, add rules, restrictions and error reports -->
            <div class="form-group">
                @Html.LabelFor(m => m.DueDate, new { @class = "control-label col-sm-4", @for = "datepicker" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.DueDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @id = "datepicker" })
                </div>
            </div>
            <!-- Textbox for quantity -->
            <div class="form-group">
                @Html.LabelFor(m => m.Quantity, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                </div>
            </div>
            <!-- Textarea for comment, not required -->
            <div class="form-group">
                <label for="textArea" class="control-label col-sm-4">Your comments</label>
                <div class="col-sm-4">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                </div>
            </div>
            <!-- Buttons // TODO: redirect Cancel buton -->
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>