@model List<KPMTestEMS.Models.ClientOrder>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div class="container">
    <div class="column">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Due Date</th>
                    <th>Order description</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr class="@(order.Status != null ? "success" : "")">
                        <td>@order.ID</td>
                        <td>@order.DueDate</td>
                        <td>
                        @String.Format("Type: {0}, weight {1} gr, width: {2}", order.BrandId,
                                    order.WeightId,
                                    order.WidthId)
                        </td>
                        <td>@order.Quantity</td>
                        <td>@order.Status</td>
                        @if (order.Status != "Received")
                        {
                            <td>@Html.ActionLink("Edit", "Edit", "ClientOrder", new { id = order.ID }, null)</td>
                        }
                        else
                        {
                            <td>You can'd edit anymore</td>
                        }
                    </tr>
                }

            </tbody>
        </table> 


    </div>
</div>